{% extends 'base/base.html' %}  <!-- Rozszerz szablon base.html -->

{% block content %}
<div class="container mt-5 text-center">
    <!-- Powitanie tylko dla zalogowanych użytkowników -->
    {% if user.is_authenticated %}
        <h1 class="display-4">Witaj, {{ user.username }}!</h1>
        <p class="lead">Miło Cię widzieć na WeatherApp.pl!</p>
    {% endif %}

    <!-- Reszta strony dostępna dla wszystkich -->
    <h1 class="display-4">Witaj na stronie pogodowej!</h1>
    <p class="lead">Sprawdź aktualną pogodę w wybranym mieście.</p>
    <a href="{% url 'weather:get_weather' %}" class="btn btn-primary btn-lg">Sprawdź pogodę</a>

    <!-- Link do logowania/rejestracji dla niezalogowanych -->
    {% if not user.is_authenticated %}
        <div class="mt-4">
            <p class="mb-2">Masz już konto? <a href="{% url 'accounts:login' %}" class="text-decoration-none">Zaloguj się</a></p>
            <p>Nie masz konta? <a href="{% url 'accounts:register' %}" class="text-decoration-none">Zarejestruj się</a></p>
        </div>
    {% endif %}
</div>
{% endblock %}